<div class="card">

  <div class="line-left">
  </div>

  <div class="answer">
    <p class="user_question"> <%= @user_input %></p>

      <h3> <small> coach - </small> <strong> <%= @answer %> </strong></h3>

    <p class="continue-ask">
       <%= link_to "continue asking cuestions", contact_path  %>
    </p>
     </div>
</div>
