<div class="card">

  <div class="line-left">
  </div>

  <div class="answer">
    <p> <%= @user_input %></p>

    <h3><%= @answer %></h3>

    <p class="continue-ask">
       <%= link_to "continue asking cuestions", contact_path  %>
    </p>
     </div>
</div>
